{% extends "forum/base.html" %}

{% block title %}About Us - DjangoForum{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h1 class="mb-4">About Us</h1>
        <p>Welcome to <strong>DjangoForum</strong>!</p>
        <p><strong>DjangoForum</strong> is a vibrant community where knowledge and curiosity meet. Whether you're here to ask burning questions, share your expertise, or simply explore new ideas, our platform provides a welcoming space for everyone.</p>

        <h2 class="mt-5">Our Mission</h2>
        <p>Our mission is to foster a community of learning and sharing. We believe in the power of collective knowledge and aim to create an environment where users can freely ask questions, provide answers, and engage in meaningful discussions.</p>

        <h2 class="mt-5">How It Works</h2>
        <ul>
            <li><strong>Ask Questions:</strong> Have a question? Post it on <strong>DjangoForum</strong>! Whether it's about technology, science, arts, or any other topic, our diverse community is here to help.</li>
            <li><strong>Provide Answers:</strong> Share your knowledge and expertise by answering questions. Your insights can make a big difference to someone seeking help.</li>
            <li><strong>Rate Content:</strong> Users can rate questions and answers, helping highlight the most valuable and accurate contributions. Your feedback ensures that the best content rises to the top.</li>
            <li><strong>Engage in Discussions:</strong> Dive into discussions, explore different perspectives, and connect with others who share your interests.</li>
        </ul>

        <h2 class="mt-5">Why Join Us?</h2>
        <ul>
            <li><strong>Knowledge Sharing:</strong> Gain access to a vast pool of knowledge and contribute to it.</li>
            <li><strong>Community Driven:</strong> Our platform thrives on the contributions and interactions of our users.</li>
            <li><strong>Recognition:</strong> Earn reputation points and badges for your contributions and expertise.</li>
            <li><strong>Supportive Environment:</strong> Our community is built on respect, encouragement, and mutual support.</li>
        </ul>

        <h2 class="mt-5">Get Started</h2>
        <p>Join <strong>DjangoForum</strong> today and be part of a dynamic community dedicated to learning and sharing. Whether you're here to ask, answer, or explore, you'll find a place where your curiosity is valued and your knowledge appreciated.</p>
        <p>Thank you for being a part of <strong>DjangoForum</strong>!</p>
    </div>
</div>
{% endblock %}