{% extends "forum/base.html" %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h2>Profile</h2>
        <div class="d-flex">
            <p class="me-3">Email: {{ user.email }}</p>
            <p>Username: {{ user.get_username }}</p>
        </div>
        <div class="d-flex">
            <a href="{% url "users:update_profile" %}" class="btn btn-info btn-sm me-3">Update Profile</a>
            <a href="{% url "users:update_password" %}" class="btn btn-info btn-sm me-3">Update Password</a>
            <a href="{% url "forum:current_user_questions" %}" class="btn btn-info btn-sm">Questions asked by you</a>
        </div>
    </div>
</div>
{% endblock %}